<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nitelife</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>

<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a> <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="http://localhost:8080" class="nav-link px-2 text-secondary">Home</a></li>
        <li><a href="http://localhost:8080/calendar" class="nav-link px-2 text-white">Calendar</a></li>
        <!-- <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
        <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
        <li><a href="#" class="nav-link px-2 text-white">About</a></li> -->
      </ul>


        <!-- <div class="text-end"> <a href="http://localhost:8080/login"><button type="button" class="btn btn-outline-light me-2">Login</button></a>
          <a href="http://localhost:8080/suggest"><button type="button" class="btn btn-warning">Suggest an event</button></a> </div>  -->
        
        </div> </div>
</header>

<br>

<div class="container">
  <div class="row">
<div class="col">
  <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px;">
    
    <!-- <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <svg class="bi pe-none me-2" width="40" height="32" aria-hidden="true"><use xlink:href="#bootstrap"></use>
      </svg>
      
      <span class="fs-4">Sidebar</span>
    
    </a>  -->
      
      <ul class="nav nav-pills flex-column mb-auto"> <li class="nav-item"> <a href="http://localhost:8080/adminpanel" class="nav-link active" aria-current="page"> 
        <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true"><use xlink:href="#home"></use></svg>
  Overview
  </a> </li>
  
  <li> <a href="http://localhost:8080/adminpanel/events" class="nav-link link-body-emphasis"> <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true">
    <use xlink:href="#speedometer2"></use></svg>
  Events
  </a> </li>
  
  <!-- <li> <a href="#" class="nav-link link-body-emphasis"> <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true">
    <use xlink:href="#table"></use></svg>
  Configuration
  </a> </li> -->
  
  <!-- <li> <a href="#" class="nav-link link-body-emphasis"> <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true">
    <use xlink:href="#grid"></use></svg>
  Products
  </a> </li>  -->
  
  <!-- <li> <a href="#" class="nav-link link-body-emphasis"> <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true">
    <use xlink:href="#people-circle"></use></svg>
  Customers
  </a> </li>  -->

</ul> 
  
  
  
  <!-- <div class="dropdown"> 
    <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
       <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>mdo</strong> </a> <ul class="dropdown-menu text-small shadow"> 
          <li><a class="dropdown-item" href="#">New project...</a></li> <li><a class="dropdown-item" href="#">Settings</a></li>
           <li><a class="dropdown-item" href="#">Profile</a></li> <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li> </ul> </div> -->
          
          </div>
</div>
<div class="col-9">

  <div class="p-5 text-center bg-body-tertiary rounded-3"><svg class="bi mt-4 mb-3" style="color: var(--bs-indigo);" width="100" height="100" aria-hidden="true"><use xlink:href="#bootstrap"></use></svg>
  <h1 class="text-body-emphasis" >Welcome back, commander</h1>
  <p class="col-lg-8 mx-auto fs-5 text-muted" >
 There are currently <span th:text="${eventNumber}"></span> events in the database.
  </p>
  <!-- <p class="col-lg-8 mx-auto fs-5 text-muted" >th:text="${event.location}"</p>
  <p class="col-lg-8 mx-auto fs-5 text-muted" >th:text="${event.time}"</p>
  
  FIXME: Date should be formatted
  <p class="col-lg-8 mx-auto fs-5 text-muted" >th:text="${event.date}"</p> -->


  <div class="d-inline-flex gap-2 mb-5">

  <!-- <button class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button">
  Visit
  </button> -->
  <!-- <button class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button">
  Like
  </button> -->

  </div>
  </div>

</div>
</div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>