<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Event Details</title>
</head>
<body>
<h1 th:text="${event.name}">Event Name</h1>
<p>${#temporals.format(event.date, 'yyyy-MM-dd')}</p>
<p><strong>Date:</strong> <span th:text="${event.date}">Event Date</span></p>
<p><strong>Time:</strong> <span th:text="${event.time}">Event Time</span></p>
<p><strong>Location:</strong> <span th:text="${event.location}">Event Location</span></p>
<p><strong>Price:</strong> <span th:text="${event.price}">Event Price</span></p>
<p><strong>Category:</strong> <span th:text="${event.category}">Event Category</span></p>
<p><strong>Description:</strong> <span th:text="${event.description}">Event Description</span></p>
<p><strong>Link:</strong> <a th:href="${event.link}" target="_blank">Event Link</a></p>
</body>
</html>