<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nitelife</title>
  <link th:href="@{/bootstrap-5.3.8-dist/css/bootstrap.min.css}" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="icon" type="image/x-icon" href="http://localhost:8080/calendar-check.svg">
</head>
<body>

  <!-- Header -->
  <header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a th:href="@{/}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <!-- <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg> -->
           <!-- <img src="http://localhost:8080/calendar-check.svg" class="bi me-2" width="40" height="32" aria-label="Bootstrap" style="filter: invert(100%)"> -->
           <!-- <h3 class="align-middle m-0">Nitelife</h3> -->
        </a>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a th:href="@{/}" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a th:href="@{/calendar}" class="nav-link px-2 text-white">Calendar</a></li>
        </ul>
        <div class="text-end">
          <a th:href="@{/login}"><button type="button" class="btn btn-outline-light me-2">Login</button></a>
          <a th:href="@{/suggestevent}"><button type="button" class="btn btn-warning">Suggest an event</button></a>
        </div>
      </div>
    </div>
  </header>

  <br>

  <!-- Event details -->
  <div class="container my-5">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
      <!-- TODO: Add event image here or an event image placeholder. -->
      <h1 class="text-body-emphasis" th:text="${event.name}">...</h1>
      <p class="col-lg-8 mx-auto fs-5 text-muted" th:utext="${event.description}">...</p>
      <p class="col-lg-8 mx-auto fs-5 text-muted" th:text="${event.location}">...</p>
      <p class="col-lg-8 mx-auto fs-5 text-muted" th:text="${event.time}">...</p>
      <p class="col-lg-8 mx-auto fs-5 text-muted" th:text="${#dates.format(event.date, 'yyyy-MM-dd')}">...</p>
      <div class="d-inline-flex gap-2 mb-5">
        <a th:href="${event.link}"><button class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button">Visit</button></a>
        <button class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button">Like</button>
      </div>
    </div>
  </div>

<script th:src="@{/bootstrap-5.3.8-dist/js/bootstrap.bundle.min.js}" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>