<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nitelife</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body class="bg-body-tertiary"> <svg xmlns="http://www.w3.org/2000/svg" class="d-none">

<div class="container">
    <main>
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="#" alt="" width="72" height="57">
            <h1 class="h2">Suggest an event</h1>
            <p class="lead">Better be good.</p>
        </div>
        <div class="row g-5">

<div class="col-md-7 col-lg-8">
<!-- <h4 class="mb-3">Event</h4> -->

<form class="needs-validation" novalidate="">

    <div class="row g-3">

<div class="col-sm-6">
    <label for="firstName" class="form-label">Event name</label>
    <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
    <div class="invalid-feedback">
    Valid first name is required.
    </div>
</div>


<div class="col-sm-6">
<label for="lastName" class="form-label">Date</label>
<input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
<div class="invalid-feedback">
Valid last name is required.
</div>
</div>

<div class="col-12">
<label for="username" class="form-label">Time</label>
<div class="input-group has-validation">
<span class="input-group-text">@</span> 
<input type="text" class="form-control" id="username" placeholder="Username" required="">
<div class="invalid-feedback">
Your username is required.
</div></div>
</div>

<div class="col-12">
    <label for="address" class="form-label">Description</label>
    <input type="text" class="form-control" id="address" placeholder="1234 Main St" required=""> 
    <div class="invalid-feedback">
    Please enter your shipping address.
    </div>
</div> 

<div class="col-md-5"> <label for="country" class="form-label">Category</label>
    <select class="form-select" id="country" required="">
    <option value="">Category...</option>
    <option>Mjuza</option>
    <option>Edukacija</option>
    <option>Art</option>
    <option>Izlozba</option>
    </select>
    <div class="invalid-feedback">
    Please select a valid country.
    </div>
</div>

<br>


</div>


<br>

<button class="w-100 btn btn-primary btn-lg" type="submit">Submit event</button>
</form>

</div>
</div>
</main>


        
        </div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>